*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f7f8fc;
    color:#1a1a1a;
}

/* HERO */
.hero{
    text-align:center;
    padding:70px 20px 40px;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero p{
    color:#666;
    font-size:16px;
}

/* SECTION TITLE */
.section-title{
    text-align:center;
    font-size:22px;
    margin-top:30px;
    font-weight:700;
}

/* FEATURES */
.features{
    max-width:900px;
    margin:25px auto 60px;
    padding:0 15px;
}

.feature{
    background:#fff;
    border:1px solid #eee;
    border-radius:12px;
    margin-bottom:12px;
    overflow:hidden;
    box-shadow:0 2px 10px rgba(0,0,0,0.04);
}

.feature-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px;
    cursor:pointer;
}

.feature-header h3{
    font-size:15px;
}

.feature-header span{
    transition:0.3s;
}

.feature-content{
    max-height:0;
    overflow:hidden;
    transition:max-height 0.4s ease, padding 0.3s ease;
    padding:0 16px;
    color:#555;
    font-size:14px;
}

.feature-content p{
    padding-bottom:10px;
}

.btn{
    display:inline-block;
    padding:8px 14px;
    background:#111;
    color:#fff;
    text-decoration:none;
    border-radius:8px;
    font-size:13px;
    margin-bottom:14px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:25px;
    color:#777;
    border-top:1px solid #eee;
    font-size:13px;
    background:#fff;
}

/* RESPONSIVE */
@media(max-width:600px){

    .hero h2{
        font-size:28px;
    }

}

/* search bar */
.search-box{
    max-width:800px;
    margin:0 auto 30px;
    display:flex;
    gap:10px;
}

.search-box input{
    flex:1;
    padding:16px 20px;
    border:1px solid #e2e8f0;
    border-radius:16px;
    font-size:16px;
    outline:none;
}

.search-box input:focus{
    border-color:#2563eb;
}

.search-box button{
    padding:16px 24px;
    border:none;
    border-radius:16px;
    background:#2563eb;
    color:#fff;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.search-box button:hover{
    background:#1d4ed8;
}

@media(max-width:640px){

.search-box{
    flex-direction:column;
}

.search-box button{
    width:100%;
}
}
/* ------------------- */