<header class="tt-navbar">

    <a href="/" class="tt-logo">
        <!-- <img src="/logo.png" alt="Tech Treasure" class="tt-logo-img" style="height:40px; width:auto;"> -->
        <span>Tech Treasure</span>
    </a>

    <button class="tt-menu-btn" onclick="togggleMenu()">
        ☰
    </button>
    
    <button id="pwa-install-btn" title="Install app" class="tt-download-desktop">Get App</button>
    <nav id="tt-nav">
        <div style="padding:12px 20px;">
            <button id="pwa-install-btn-mobile" class="tt-download-mobile">Get App</button>
        </div>
        <a href="/">Home</a>
        <a href="/sell/index.html">MarketPlace💵</a>
        <a href="/Apps/index.html">Apps🔥</a>
        <a href="/tools/index.html">Tools</a>
        <a href="/games/index.html">Games 🔥</a>
        <a href="/tele-groups-channels/index.html">Telegram</a>
        <a href="/memes/index.html">Memes</a>
    </nav>

</header>